.cartPage{
    max-width: 90%;
    margin: auto;
}

.cartPageContainer{
    max-width: 500px;
    margin: auto;
}

.cartPage h1{
    text-align: center;
    margin-bottom: 3rem;
}

.emptyCartBtn{
    border: none;
    background: transparent;
    text-decoration: underline;
    color: var(--dark-grey);
    font-size: 16px;
    padding: 0;
}

.cartTotal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;
    margin: 1rem 0;
}

@media all and (min-width: 1025px) {
    .cartPage{
        max-width: 70%;
    }

}