.footer{
    background: var(--black);
    color: white;
    margin-top: 5rem;
    padding: 2rem 0;
    width: 100%;
}

.footerContainer{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.footer p{
    opacity: 0.6;
    font-size: 14px;
}

p.footerHeadear{
    font-weight: bold;
    opacity: 1;
}

@media all and (min-width: 468px){
    .footerContainer{
        flex-direction: row;
        justify-content: space-between;
    }
}

@media all and (min-width: 1025px){
    .footerContainer{
        width: 70%;
    }
}