.homePage{
    max-width: 90%;
    margin: auto;
    min-height: 50vh;
}

.categoryDropdownMobile{
    border: none;
    background: transparent;
    padding: 1rem 0;
    font-weight: bold;
}

.categoryDropdownDesktop{
    display: none;
    font-weight: bold;
}

.otherCategories{
    color: #757575;
    cursor: pointer;
}

.selectedCategory{
    opacity: 1;
    cursor: pointer;
}

.paginationContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.paginationContainer button{
    background: transparent;
    border: none;
    margin: 1rem 0;
}

@media all and (min-width: 769px) {
    .homePage{
        display: grid;
        grid-template-columns: 1fr 10fr;
        gap: 1rem;
    }

    .categoryDropdownMobile{
        display: none;
    }

    .categoryDropdownDesktop{
        display: block;
    }
}

@media all and (min-width: 1025px) {
    .homePage{
        max-width: 70%;
    }

}