.menuBar{
    background-color: var(--white);
    position: sticky;
    top: 0px;
    z-index: 1000;
}

.menuBarContainer{
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 90%;
    margin: auto;
}

.menuIcon{
    margin: 0.5rem;
}

.menuBrand{
    font-size: 25px;
}

.menuSection{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cartIcon{
    position: relative;
}

.itemNumber{
    position: absolute;
    top: 10%;
    right: 0;
    height: 20px;
    width: 20px;
    background: red;
    border-radius: 100%;
    color: white;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@media all and (min-width: 481px){
    .burgerMenu{
        display: none;
    }
}

@media all and (min-width: 1025px) {
    .menuBarContainer{
        max-width: 70%;
    }

}