.productPage{
    max-width: 90%;
    margin: auto;
}

.productImage{
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    height: fit-content;
    width: fit-content;
    display: block;
    margin: auto;
    overflow: hidden;
}

.productInfoContainer{
    max-width: 500px;
    margin: auto;
}

.productInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.productName{
    font-size: 16px;
}

.productDescription{
    opacity: 0.6;
}

.productAttributes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}

.sizeOption, .selectedSize{
    border: none;
    text-align: center;
    height: 3rem;
    width: 3rem;
    background: var(--light-grey);
    font-weight: bold;
    border-radius: 5px;
}

.selectedSize{
    background: var(--black);
    color: white;
}

@media all and (min-width: 711px){
    .productPageContainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    
    .productInfoContainer{
        max-width: 400px;
        margin: inherit;
    }

    .productInfo{
        display: block;
    }
}

@media all and (min-width: 1025px) {
    .productPage{
        max-width: 70%;
    }
    
}