.profilePage{
    width: 90%;
    margin: auto;
    min-height: 50vh;
}

.profilePage h1{
    font-size: 20px;
}

@media all and (min-width: 1025px) {
    .profilePage{
        max-width: 70%;
    }
}
